node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
package-lock.json
package.json
e2e/
tests-examples/
.env
allure-results/
./.gitignore
/test-results/
/playwright-report/
/playwright/.cache/
/test-results/
/playwright-report/
/playwright/.cache/
/test-results/
/playwright-report/
/playwright/.cache/
storage/
/test-results/
/playwright-report/
/playwright/.cache/
/test-results/
/playwright-report/
/playwright/.cache/
.auth/
/configs